@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 3 82 255;
  --color-primary-foreground: 255 255 255;
  --color-secondary-100: 217 217 217;
  --color-secondary-200: 215 215 215;
  --color-secondary-300: 212 212 212;
  --color-secondary-400: 196 196 196;
}

/**
* Pretendard 폰트 적용
*/
@layer base {
  html,
  body,
  #root {
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans KR",
      "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  }
}

